.columns > div {
    display: flex;
    flex-direction: column;
}

.columns img {
    width: 100%;
}

.columns > div > div {
    order: 1;
}

.columns > div > .columns-img-col {
    order: 0;
}

.columns > div > .columns-img-col img {
    display: block;
}
.columns > div .button-container a {
    color: #000;
    background-color: #80c343;
    padding: 14px 24px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    margin-top: 20px;
}
.columns > div .button-container a:hover {
    background-color: #fff;
    border-color: #80c343;
}

@media (width >= 900px) {
    .section .columns-wrapper {
        padding-top: 32px;
    }
    .columns-wrapper .columns > div {
        max-width: 1414px;
        padding-bottom: 70px;
    }

    .columns > div {
        align-items: center;
        flex-direction: unset;
    }

    .columns > div > div {
        flex: 1;
        order: unset;
    }
    .columns .columns-img-col {
        flex: 1 1 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        justify-content: center;
        max-width: 100%;
        object-fit: cover;
    }
    .columns-wrapper .columns > div > div:not([class]) {
        flex: 1 1 50%;
        padding: 0 3rem;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }
}
