.singlebanner > div {
    width: 100%;
}

.singlebanner > div > div {
    position: relative;
    height: 300px;
}

.singlebanner h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-45%, 0);
    z-index: 50;
    padding: 24px;
    width: 100%;
    height: 100%;
}

.singlebanner h3#media-center {
    color: #fff;
}

.singlebanner .button-container {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-45%, 0);
    z-index: 50;
    padding: 24px;
    width: 100%;
    height: 100%;
}

.singlebanner .button-container a {
    background-color: transparent;
    border: 0 none;
    border-bottom: 2px solid #80c343;
    padding: 14px 0 4px;
    min-width: auto;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
}

.singlebanner .button-container a:hover {
    border-color: #224449;
    transition: all .3s ease-in-out;
}

.singlebanner > div:nth-child(2) .button-container a {
    color: #000;
}

@media (width >= 900px) {
    .singlebanner > div {
        margin-left: auto;
        margin-right: auto;
    }
}
